{namespace zz.ui.templates.highlight}

/**
 * Default buttons.
 */
{template .default}
    <div class="{css highlighted-element}" style="position: absolute; width:20%; height: 20%; border: 1px solid black; ">
        <span>weggsfg</span>
    </div>
{/template}